core/main.cpp linguist-language=C++
core/Logic.swift linguist-language=Swift
backend/Main.java linguist-language=Java
frontend/app.ts linguist-language=TypeScript
backend/app.py linguist-language=Python
backend/Program.cs linguist-language=C#
script.sh linguist-vendored
.gitattributes linguist-vendored
